[Unit]
Description=Instance Manager
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3.6 /opt/Stream-Processing/instancemanager/main.py
[Install]
WantedBy=multi-user.target
