[Unit]
Description=Instance Manager
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 ./instancemanager/main.py
[Install]
WantedBy=multi-user.target